<!DOCTYPE html>
<html>
	<head>
		<title>Express 3.x Example for connect-flash</title>
	</head>
	<body>

    <form action="/scrape" method="GET">
        <div>
            <label for="link">Text:</label>
            <input type="text" id="link" name="link" value="http://alban-financial.co.uk/">
        </div>
        <div class="button">
        <button type="submit">Send your message</button>
        </div>
    </form>
    <p>
    <a href="/scrape">Scrape</a> | 
    <a href="/no-flash">No Flash</a>
    </p>

    <% emails.forEach(function(element) { %>
        <li><%= element %></li>
    <% }); %>

	</body>
</html>
